<Project xmlns="http://schemas.microsoft.com/developer/msbuild/2003">

  <Import Project="Common.props" />

  <PropertyGroup>
    <IncludeNativeLibrariesForSelfExtract>true</IncludeNativeLibrariesForSelfExtract>
    <PublishReadyToRun>true</PublishReadyToRun>
    <PublishSingleFile>true</PublishSingleFile>
    <RuntimeIdentifiers>linux-x64;linux-musl-x64;linux-arm;linux-arm64;osx-x64;osx-arm64;win-arm64;win-x64;win-x86</RuntimeIdentifiers>
    <UseAppHost>true</UseAppHost>
  </PropertyGroup>

</Project>