name: Release Build

on:
  release:
    types: [published, edited]

jobs:
  build:
    permissions:
      contents: write
    runs-on: ubuntu-latest

    strategy:
      matrix:
        target:
          - linux-x64
          - linux-musl-x64
          - linux-arm
          - linux-arm64
          - osx-x64
          - osx-arm64
          - win-arm64
          - win-x64
          - win-x86

    steps:
      - name: Checkout code
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1

      - name: Setup .NET
        uses: actions/setup-dotnet@baa11fbfe1d6520db94683bd5c7a3818018e4309 # v5
        with:
          dotnet-version: "8.0"

      - name: Build
        run: dotnet publish -p:PublishProfile=Default -p:Version=$(echo ${{ github.event.release.tag_name }} | cut -c2-) -r:${{ matrix.target }} -o:out/${{ matrix.target }} -- ./src/yk-csr-cli/GenerateYKCSR.csproj

      - name: Archive and Hash
        run: |
          zip -9 -j -r ./out/${{ matrix.target }}.zip ./out/${{ matrix.target }}
          sha256sum ./out/${{ matrix.target }}.zip > ./out/${{ matrix.target }}.zip.sha256

      - name: Upload
        run: gh release upload ${{ github.event.release.tag_name }} ./out/${{ matrix.target }}.zip ./out/${{ matrix.target }}.zip.sha256 --clobber
        env:
          GITHUB_TOKEN: ${{ github.TOKEN }}
        shell: bash
